html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #cartocss {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #sql {
        position: absolute;
        top: 20px;
        right: 292px;
    }
    .layer_selector {
        background: rgba(255,255,255,0.9);
        border-radius: 5px;
        padding: 0;
        border: 1px solid #999;
        width: 130px;
    }
    
    .layer_selector > p {
        padding: 5px 5px;
        border-bottom: 1px solid #999;
    }
    
    .layer_selector ul {
        padding: 0; margin: 0;
        list-style-type: none;
    }
    .layer_selector li {
        padding: 5px 5px;
        font-family: Helvetica, Arial;
        font-size: 12px;
        color: #444;
        cursor: pointer;
    }
    .layer_selector li:not(:last-child) {
        border-bottom: 1px solid #999;
    }
    .layer_selector li:hover {
        background-color: #F0F0F0;
        cursor: pointer;
    }
    .layer_selector li.sql_selected,
    .layer_selector li.cartocss_selected {
        background-color: #B8B8B8;
    }
    p{
      font-size: 12px;
    }
    div.cartodb-legend.choropleth li.graph {
		height: 10px !important;
	}
	div.cartodb-legend.choropleth li.graph div {
	    width: 10px;
	    height: 5px;
	}
	.cartodb-legend-stack{
	    left: 5px;
	    top: 5px;
	    bottom: auto !important;
	    right:auto !important;
	    box-shadow: none !important;
	}
	div.leaflet-top.leaflet-left{
		left:auto !important;
		right:10px;
		
	}
	div.cartodb-legend.category ul li{
		font-weight:normal !important;
		text-transform: none !important;
	}
	div.cartodb-legend ul{
		min-width: auto !important;
	}
	div.cartodb-legend wrapper, div.cartodb-legend{
		padding:8px;
	}
	div.cartodb-legend.choropleth {
		padding:8px;
	}
	div.cartodb-legend .legend-title{
		margin: 0 0 5px 0;
	}
	div.cartodb-legend.choropleth ul{
		min-width:initial;
	}